# --- Nesta an√°lise os valores faltantes foram considerados classe 0 ---

In [59]:
import pandas as pd

In [60]:
df = pd.read_csv('describe.csv', index_col='Unnamed: 0')

In [61]:
df

,DIF_DIAS,NU_IDADE_N,CS_SEXO,CS_GESTANT,IS_PROFISSIONAL_SAUDE,SINT_FEBRE,SINT_DIF_RESP,SINT_NARIZ,SINT_TIRAG,SINT_CIAN,...,COMORB_NEOPL,COMORB_TABAG,COMORB_CIRURGIA_BARIAT,COMORB_OBESIDADE,COMORB_TUBERCULOSE,COMORB_NEOPLASIAS,COMORB_NEURO_CRONICA,CLASS_FINAL,SINT_DISPNEIA,SINT_MIALGIA
0,5,35,Masculino,0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
1,4,52,Feminino,0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
2,4,39,Masculino,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
3,3,74,Masculino,0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
4,0,83,Masculino,0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624,1,41,Masculino,0,NaN,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2625,22,50,Feminino,0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2626,1,56,Masculino,0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
2627,14,37,Masculino,0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2628,1,77,Masculino,0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

# An√°lise de preval√™ncia

In [62]:
def prevalencia(feature):
    print(f'{feature}:')
    pos = df.loc[df[feature] == 1, 'CLASS_FINAL']
    porc_pos = pos.value_counts().iloc[1] / len(pos)
    print(f'Preval√™ncia na classe 1: {porc_pos}')

    neg = df.loc[df[feature] != 1, 'CLASS_FINAL']
    porc_neg = neg.value_counts().iloc[1] / len(neg)
    print(f'Preval√™ncia na classe 0: {porc_neg}')

In [63]:
prevalencia('IS_PROFISSIONAL_SAUDE')

IS_PROFISSIONAL_SAUDE:
Preval√™ncia na classe 1: 0.4326424870466321
Preval√™ncia na classe 0: 0.2552504038772213

In [64]:
prevalencia('CONTATO_SUSP')

CONTATO_SUSP:
Preval√™ncia na classe 1: 0.3530534351145038
Preval√™ncia na classe 0: 0.27703984819734345

In [65]:
prevalencia('VIAGEM_BRASIL')

VIAGEM_BRASIL:
Preval√™ncia na classe 1: 0.3492063492063492
Preval√™ncia na classe 0: 0.3063133281371785

In [66]:
prevalencia('VIAGEM_INTERNACIONAL')

VIAGEM_INTERNACIONAL:
Preval√™ncia na classe 1: 0.14130434782608695
Preval√™ncia na classe 0: 0.31336223886480097

In [67]:
prevalencia('CS_GESTANT')

CS_GESTANT:
Preval√™ncia na classe 1: 0.4375
Preval√™ncia na classe 0: 0.3065442020665901

In [84]:
print('CS_SEXO:')
mas = df.loc[df['CS_SEXO'] == 'Masculino', 'CLASS_FINAL']
porc_mas = mas.value_counts().iloc[1] / len(mas)
print(f'Preval√™ncia no sexo masculino: {porc_mas}')

fem = df.loc[df['CS_SEXO'] == 'Feminino', 'CLASS_FINAL']
porc_fem = fem.value_counts().iloc[1] / len(fem)
print(f'Preval√™ncia no sexo feminino: {porc_fem}')

CS_SEXO:
Preval√™ncia no sexo masculino: 0.32967032967032966
Preval√™ncia no sexo feminino: 0.291476903057905

# Estat√≠tsicas descritivas

### Diferen√ßa de Dias

In [69]:
# CLASS_FINAL = 1

df.loc[df['CLASS_FINAL'] == 1, 'DIF_DIAS'].describe()

count    808.000000
mean       5.444307
std        6.134540
min        0.000000
25%        2.000000
50%        4.000000
75%        7.000000
max       65.000000
Name: DIF_DIAS, dtype: float64

In [70]:
# CLASS_FINAL = 0

df.loc[df['CLASS_FINAL'] != 1, 'DIF_DIAS'].describe()

count    1821.000000
mean        5.855574
std         6.180304
min         0.000000
25%         2.000000
50%         4.000000
75%         8.000000
max        84.000000
Name: DIF_DIAS, dtype: float64

### Idade

In [71]:
# CLASS_FINAL = 1

df.loc[df['CLASS_FINAL'] == 1, 'NU_IDADE_N'].describe()

count    808.000000
mean      45.436881
std       16.432611
min       19.000000
25%       33.000000
50%       40.000000
75%       55.000000
max       99.000000
Name: NU_IDADE_N, dtype: float64

In [72]:
# CLASS_FINAL = 0

df.loc[df['CLASS_FINAL'] != 1, 'NU_IDADE_N'].describe()

count    1821.000000
mean       44.716090
std        15.766047
min        19.000000
25%        33.000000
50%        41.000000
75%        53.000000
max       100.000000
Name: NU_IDADE_N, dtype: float64